{% extends 'shop/base.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock title %}

{% block content %}
    <div class="product-detail">
        <div class="product-images">
            <img class="main-image" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
            <div class="additional-images">
                {% for image in product.images.all %}
                    <a href="{{ image.image.url }}" target="_blank">
                        <img class="additional-image" src="{{ image.image.url }}">
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="product-info">
            <h1>{{ product.name }}</h1>
            <h2>
                <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
            </h2>
            <p class="price">₴{{ product.price }}</p>
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="Add to cart">
            </form>
            {{ product.description|linebreaks}}
        </div>
    </div>
{% endblock content %}