/* @import url(//fonts.googleapis.com/css?family=Ubuntu); */

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Ubuntu', sans-serif; font-weight:normal;
    font-weight: bold;

}

a {
    text-decoration:none;
    color: #666;
}

a:hover {
    color:rgb(0, 0, 0);
}

a.button, input[type="submit"] {
    color:rgb(0, 109, 102);
    background:#1c1c1c;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

a.button.light {
    color:#666;
    background:#ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#ffffff;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background:#333;
    color:#ffffff;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0 0 0 10px;
   padding:10px 0;
}


#subheader {
    background:#b1e0fe;
    padding:15px 100px;
    overflow:auto;
}
#subheader form {
    display: inline-block;
    vertical-align: middle;
}

#header {
    display: flex;
    align-items: center; /* Вирівнює елементи по вертикалі */
    justify-content: space-between; /* Розподіляє простір між логотипом і кнопками */
    padding: 10px 100px;
    font-size: 18px;
    background-color: #7fd9ff;
}

/* Логотип */
.logo {
    display: flex;
    align-items: center; /* Вирівнює логотип і текст по вертикалі */
    text-decoration: none; /* Забирає підкреслення */
}

.logo-img {
    height: 100px; /* Розмір логотипа */
    margin-right: 10px; /* Відступ між логотипом і текстом */
}

.logo-text {
    font-size: 24px; /* Розмір тексту назви */
    font-weight: bold; /* Жирність тексту */
    color: #000; /* Колір тексту */
}

/* Кнопки входу та реєстрації */
#header-registration {
    display: flex;
    align-items: center; /* Вирівнює кнопки по вертикалі */
    gap: 20px; /* Відступ між кнопками */
    margin: 0; /* Прибирає зайві відступи */
    list-style: none; /* Забирає стилізацію списку */
}

#header-registration {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 1.4%;
    float: right;
    color:white;
    font-size:20px;
}

/* Іконки */
#profile-icon,
#signup-icon,
#enter-icon,
#exit-icon {
    width: 20px; /* Розмір іконок */
    height: 20px; 
    margin-right: 8px; /* Відступ між іконкою та текстом */
}

#user-name{
    color: 7fd9ff;
}
#header-registration li{
    list-style-type: none;
}

#reg-text {
    color:#000000;
}
#subheader .cart {
    float: right;
    color: rgb(0, 0, 0);
    margin: 20px 0;
    display: flex;
    align-items: center;

}

#subheader .cart .cart-icon {
    width: 30px;
    float: left; 
}

#subheader .cart .cart-info {
    color: rgb(0, 0, 0);
}

#subheader .cart .cart-text {
    color: white;
}

#content {
    padding:0 100px;
    overflow:hidden;
    background-color: #ffffff;
}

#sidebar {
    width:220px;
    padding:30px 20px 0 0;
    float:left;
}


#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:7fd9ff;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#000000;
    font-weight: bold;
}

#main {
    float:left;
    width: 96%;
    margin-right:-220px;
    overflow:hidden;
}

.product-list .item {
    width:295px;
    height:350px;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
    margin: 20px ;
}

.product-list .item img {
    width:100%;
    margin-bottom:8px;
}

.product-detail {
    text-align:justify;
}

.product-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.product-detail img {
    width: 100%;
    float:left;
    padding:0 20px 20px 0;
}

.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}
#search-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  
  #search-line input[type="text"] {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    font-size: 16px;
    width: 850px;
    transition: border-bottom-color 0.3s ease-in-out;
  }
  
  #search-line input[type="text"]:focus {
    outline: none;
    border-bottom-color: 7fd9ff;
  }
  
  #search-line button[type="submit"] {
    background-color: white;
    color: #000000;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  #search-line button[type="submit"]:hover {
    background-color: 7fd9ff;
  }
  
.product-search{
    display: flex;
    flex-wrap: wrap;
}

.search-item {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
}

.search-item img{
    max-width: 100%;
    height: auto;
}
.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#efefef;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid rgb(0, 0, 0);
}

.order-info h3 {
    color:#000000;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.neg {
    color:#dc1616;
}

.languages {
   float:right;
   padding-top:4px;
   font-size:14px;
}

.languages ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.languages ul li {
    float:left;
    margin:0 0 0 10px;
    font-size:14px;
}

.languages p {
    float:left;
    margin:0;
}

.recommendations {
    clear:both;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}

/* braintree hosted fields */
form div.field {
    font-size:13px;
    color:#666;
    width:300px;
    height:22px;
    margin-bottom:10px;
    padding:6px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    clear: both;
  }
  
  .pagination a,
  .pagination span {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #ccc;
    margin: 0 2px;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .pagination .current-page {
    font-weight: bold;
    color: #ffffff;
    background-color: #333;
    border-color: #333;
  }
  
  .pagination .disabled {
    color: #999;
    pointer-events: none;
    cursor: not-allowed;
  }

  .btn {
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
  }
   
  
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }


  .product-detail {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
  }
  
  .product-images {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
  }
  
  .main-image {
    grid-row: 1 / span 2;
    margin-top: 10%;
  }
  
  .additional-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
  }

#profile-icon,
#signup-icon,
#enter-icon,
#exit-icon {
  width: 20px; 
  height: 20px; 
}


#profile-icon:hover,
#enter-icon:hover,
#exit-icon:hover {
  opacity: 0.8; 
  cursor: pointer; 
}
