{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Caster.ua{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>
    <div id="header">
        <a href="/" class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Логотип" class="logo-img">
            Caster.ua
        </a>
        <ul id="header-registration">
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'users:user_profile' user.username %}">
                        <img id="profile-icon" src="{% static 'img/profile.png' %}" alt="Профіль">
                    </a>
                    <span>Вітаю,</span>
                    <span><a id="user-name" href="{% url 'users:user_profile' user.username %}">{{ user.username }}</a></span>
                </li>
                <li>
                    <a href="{% url 'users:logout' %}">
                        <img id="exit-icon" src="{% static 'img/exit.png' %}" alt="Вихід">
                    </a>
                    <a id="reg-text" href="{% url 'users:logout' %}">Вийти</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'users:login' %}">
                        <img id="enter-icon" src="{% static 'img/enter.png' %}" alt="Вхід">
                    </a>
                    <a id="reg-text" href="{% url 'users:login' %}">Вхід</a>
                </li>
                <li>
                    <a href="{% url 'users:register' %}">
                        <img id="signup-icon" src="{% static 'img/sign_up.png' %}" alt="Реєстрація">
                    </a>
                    <a id="reg-text" href="{% url 'users:register' %}">Реєстрація</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div id="subheader">        
        <form id="search-line" action="{% url 'shop:search' %}" method="get">
            <input type="text" name="q" placeholder="Введіть запит...">
            <button type="submit">Пошук</button>
        </form>

        <div class="cart">
            {% with total_items=cart|length %}
                {% if total_items > 0 %}
                    <img class="cart-icon" src="{% static 'img/cart_fully.png' %}">
                    <a class="cart-text">Кошик:</a>
                    <a href="{% url 'cart:cart_detail' %}">
                        <span class="cart-info">{{ total_items }} item{{ total_items|pluralize }},
                        {{ cart.get_total_price }}</span>
                    </a>
                {% else %}
                    <img class="cart-icon" src="{% static 'img/cart_empty.png' %}">
                    <span class="cart-info">Ваш кошик порожній</span>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>
